src/main/resources/wsdl/student-details.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://in28minutes.com/students" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://in28minutes.com/students" targetNamespace="http://in28minutes.com/students">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://in28minutes.com/students">
            <!--   GetStudentDetailsRequest   -->
            <xs:element name="GetStudentDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetStudentDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StudentDetails" type="tns:StudentDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--   AddStudentDetailsRequest   -->
            <xs:element name="AddStudentDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="passportNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddStudentDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StudentDetails" type="tns:StudentDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--   DeleteStudentDetailsRequest   -->
            <xs:element name="DeleteStudentDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteStudentDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="confirmacao" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--   UpdateStudentDetailsRequest   -->
            <xs:element name="UpdateStudentDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StudentDetails" type="tns:StudentDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateStudentDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StudentDetails" type="tns:StudentDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--   GetAddressByCep   -->
            <xs:element name="GetAddressByCepRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cep" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAddressByCepResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="address" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--   DATASHAPE   -->
            <xs:complexType name="StudentDetails">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="passportNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetAddressByCepResponse">
        <wsdl:part element="tns:GetAddressByCepResponse" name="GetAddressByCepResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStudentDetailsResponse">
        <wsdl:part element="tns:GetStudentDetailsResponse" name="GetStudentDetailsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddStudentDetailsRequest">
        <wsdl:part element="tns:AddStudentDetailsRequest" name="AddStudentDetailsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStudentDetailsRequest">
        <wsdl:part element="tns:GetStudentDetailsRequest" name="GetStudentDetailsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAddressByCepRequest">
        <wsdl:part element="tns:GetAddressByCepRequest" name="GetAddressByCepRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateStudentDetailsRequest">
        <wsdl:part element="tns:UpdateStudentDetailsRequest" name="UpdateStudentDetailsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateStudentDetailsResponse">
        <wsdl:part element="tns:UpdateStudentDetailsResponse" name="UpdateStudentDetailsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddStudentDetailsResponse">
        <wsdl:part element="tns:AddStudentDetailsResponse" name="AddStudentDetailsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteStudentDetailsResponse">
        <wsdl:part element="tns:DeleteStudentDetailsResponse" name="DeleteStudentDetailsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteStudentDetailsRequest">
        <wsdl:part element="tns:DeleteStudentDetailsRequest" name="DeleteStudentDetailsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="StudentPort">
        <wsdl:operation name="GetAddressByCep">
            <wsdl:input message="tns:GetAddressByCepRequest" name="GetAddressByCepRequest"> </wsdl:input>
            <wsdl:output message="tns:GetAddressByCepResponse" name="GetAddressByCepResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStudentDetails">
            <wsdl:input message="tns:GetStudentDetailsRequest" name="GetStudentDetailsRequest"> </wsdl:input>
            <wsdl:output message="tns:GetStudentDetailsResponse" name="GetStudentDetailsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddStudentDetails">
            <wsdl:input message="tns:AddStudentDetailsRequest" name="AddStudentDetailsRequest"> </wsdl:input>
            <wsdl:output message="tns:AddStudentDetailsResponse" name="AddStudentDetailsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateStudentDetails">
            <wsdl:input message="tns:UpdateStudentDetailsRequest" name="UpdateStudentDetailsRequest"> </wsdl:input>
            <wsdl:output message="tns:UpdateStudentDetailsResponse" name="UpdateStudentDetailsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteStudentDetails">
            <wsdl:input message="tns:DeleteStudentDetailsRequest" name="DeleteStudentDetailsRequest"> </wsdl:input>
            <wsdl:output message="tns:DeleteStudentDetailsResponse" name="DeleteStudentDetailsResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StudentPortSoap11" type="tns:StudentPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAddressByCep">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetAddressByCepRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAddressByCepResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStudentDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetStudentDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetStudentDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddStudentDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="AddStudentDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AddStudentDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateStudentDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="UpdateStudentDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateStudentDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteStudentDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="DeleteStudentDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteStudentDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StudentPortService">
        <wsdl:port binding="tns:StudentPortSoap11" name="StudentPortSoap11">
            <soap:address location="http://localhost:8081/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>